<%- include('../partials/head') %>
<body>
    <div class="container">
        <h1 class="mb-4">
        Edit Article</h1>
        <form action="/articles/<%= article.id %>?_method=PUT" method="post">
            <%- include('../partials/formFields') %>
        </form>
    </div>
</body>
</html>